* {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-weight: 450;
    box-sizing: border-box;
    color: #616161;
}

body {
    color: #1E1E1E;
    background-color: #F4F0FE;
}

h2,
h3 {
    color: #1E1E1E;
    font-weight: 650;
}

h2 {
    font-size: 2rem
}

h3 {
    margin: 0.5rem 0;
    font-size: 22px;
}

.form-floating {
    border: 2px dashed a8a3b5;
}

/* Cabeçalho da página */
header {
    background-color: #3b1b88;
}

.campo-buscar {
    color: #1E1E1E;
    font-weight: 450;
    border-radius: 3px 0 0 3px;
    padding: 0.5rem 1rem;
}

.campo-buscar::placeholder {
    color: #a8a3b5;
}

li>a>i {
    color: #ffffff;
}

.link-vendedor,
.link-comprador {
    color: #1E1E1E;
}

.btn-secundario {
    border-radius: 0 3px 3px 0px;
    background-color: #ffffff;
    transition: 0.4s;
}

.btn-secundario:hover {
    transition: 0.4s;
    background-color: #65BAA9;
}

.link-entrar {
    cursor: pointer;
    font-weight: 700;
    color: #65BAA9;
}

.cor-branca-hover:hover {
    color: #fff;
    transition: 0.4s;
}

.cor-verde-hover:hover {
    color: #65BAA9 !important;
    transition: 0.4s;
}

.bg-dropdown {
    background-color: #fff;
    border: 0;
    box-shadow: 0 0 20px 4px #00000035;
}

.bg-dropdown>li>a:hover {
    background-color: #F4F0FE;
}

.fundo-branco {
    width: 65%;
    height: 100%;
    padding: 5rem 2.5rem;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 20px 4px #00000035;
    border-radius: 2rem;
}

.conteudo-principal {
    margin-top: 3rem;
}

.coluna-imagens {
    display: flex;
    align-items: center;
}

.imagem-carrossel {
    width: 130px;
    height: 100px;
    object-fit: fill;
    transition: transform 0.4s;
}

.imagem-carrossel:hover {
    transform: scale(1.10);
    /* Aumenta a imagem ao passar o mouse */
}

#main-image {
    height: 450px;
    width: 450px;
    object-fit: fill;
}

.btn-padrao {
    font-size: 0.8rem;
    border: 0;
    padding: 0.6rem 1rem;
    background-color: #3b1b88;
    font-weight: 600;
}

.btn-padrao:hover {
    background-color: #65BAA9;

}

span,
strong {
    color: #1E1E1E;
}

span {
    font-size: 25px;
}

.coluna-finalizar-pedido {
    border: #b1b1b1 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.btn-quantidade {
    text-align: center;
    border: #b1b1b1 solid 1px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}

.btn-mais,
.btn-menos,
.quantidade-produto {
    border: 0;
}

.btn-mais,
.quantidade-produto {
    font-weight: 600;
    color: #1E1E1E;
}

.btn-mais:hover,
.btn-menos:hover {
    background-color: #3B1B88;
}

.frete {
    margin-top: 1.5rem;
}


/* Estilo para o contêiner de miniaturas */
.col-3.d-flex.flex-column {
    display: flex;
    flex-direction: column;
    height: auto;
}

/* footer - rodapé*/
p>.email {

    text-decoration: none;
    color: #65BAA9;
    font-weight: 700;
    transition: 0.5s;
}

p>.email:hover {
    transition: 0.4s;
    color: #3B1B88;
}

@media (max-width: 768px) {
    #main-image {
        height: 350px;
    }
}

@media (max-width: 576px) {
    #main-image {
        height: 200px;
    }
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* .input-group {
    min-width: 100px;
    width: 40%;
} */

/* footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 5px;
    text-align: center;
    background-color: #cecbcb;
}

footer p {
    margin-top: 5px;
    margin-bottom: 5px;
} */