* {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-weight: 450;
    box-sizing: border-box;
}

body {
    color: #1E1E1E;
    background-color: #F4F0FE;
}

.form-floating {
    border: 2px dashed a8a3b5;
}

/* Cabeçalho da página */
header {
    background-color: #3B1B88;
}

.campo-buscar {
    color: #1E1E1E;
    font-weight: 450;
    border-radius: 3px 0 0 3px;
    padding: 0.5rem 1rem;
}

.campo-buscar::placeholder {
    color: #a8a3b5;
}

li>a>i {
    color: #ffffff;
}

.link-vendedor,
.link-comprador {
    color: #1E1E1E;
}

.btn-secundario {
    border-radius: 0 3px 3px 0px;
    background-color: #ffffff;
    transition: 0.4s;
}

.btn-secundario:hover {
    transition: 0.4s;
    background-color: #65BAA9;
}

.link-entrar {
    cursor: pointer;
    font-weight: 700;
    color: #65BAA9;
}

.cor-branca-hover:hover {
    color: #fff;
    transition: 0.4s;
}

.cor-verde-hover:hover {
    color: #65BAA9 !important;
    transition: 0.4s;
}

.bg-dropdown {
    background-color: #fff;
    border: 0;
    box-shadow: 0 0 20px 4px #00000035;
}

.bg-dropdown>li>a:hover {
    background-color: #F4F0FE;
}

.row {
    margin-bottom: 30px;
}

.fundo-branco {
    padding: 5rem 6rem;
    margin: 0rem 25rem 25rem 25rem;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0 20px 4px #00000035;
}

/* Estilo para o contêiner de miniaturas */
.col-3.d-flex.flex-column {
    display: flex;
    flex-direction: column;
    height: auto;
}

.img-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 5px;
    border: 2px solid #3b1b88;
    transition: transform 0.3s;
}

.img-thumbnail:hover {
    transform: scale(1.10);
    /* Aumenta a imagem ao passar o mouse */
}

#main-image {
    width: auto;
    height: 500px;
    object-fit: contain;
}

@media (max-width: 768px) {
    #main-image {
        height: 350px;
    }
}

@media (max-width: 576px) {
    #main-image {
        height: 200px;
    }
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-group {
    min-width: 100px;
    width: 40%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 5px;
    text-align: center;
    background-color: #cecbcb;
}

footer p {
    margin-top: 5px;
    margin-bottom: 5px;
}