body {
    background-color: #f4f0fe; 
    }
    
    .custom-navbar {
    background-color: #3b1b88;
    padding: 15px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    }
    
    .btn-custom {
    background-color: #65baa9;
    color: white; 
    }
    
    input::placeholder {
    color: rgba(187, 187, 187, 0.6) !important; 
    opacity: 1 !important;
    font-weight: 100 !important;
    }